@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins");

body {
  font-family: "Poppins", sans-serif;
  font-size: 13px !important;
}

.item .selected {
  background-color: black !important;
}
