.input {
  margin-top: 2rem !important;
  padding-left: 15px !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  color: #40c4e5 !important;
  border-radius: 10px !important;
}

.input :focus {
  color: #40c4e5 !important;
  border-bottom: 4px #40c4e5 !important;
  border-radius: 10px !important;
}

.submitButton {
  border-radius: 15px !important;
  color: #fff !important;
  font-weight: bold !important;
  font-size: 13px !important;
  background: linear-gradient(
    90deg,
    rgba(64, 180, 229, 1) 17%,
    rgba(6, 196, 82, 1) 68%
  ) !important;
}
