.icon {
  font-size: 20px !important;
  color: white !important;
}

.icon-selected {
  color: #40b4e5 !important;
}

.container {
  min-height: 12.5% !important;
}

.icon-container {
  background-color: grey !important;
  justify-content: center;
}

.square {
  background-color: rgb(173, 36, 144) !important;
  border-radius: 0%;
}

.square-selected-top {
  border-radius: 0 0 15px 0 !important;
}

.square-selected-bottom {
  border-radius: 0 15px 0 0 !important;
}

.icon-container-selected {
  width: 80px !important;
  margin-left: 20px !important;
  background-color: red !important;
  border-radius: 50px 0 0 50px !important;
}

div.icon-container-selected::before {
  border-radius: 0 0 15px 0 !important;
}

div.icon-container-selected::after {
  border-radius: 0 15px 0 0 !important;
}
